*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: linear-gradient(); */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 500px;
  padding: 10px 25px;
}
